In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Demo').getOrCreate()

In [5]:
spark

In [47]:
fact = spark.read.csv('fact_internet_sales.csv', header = True, inferSchema = True)
customer = spark.read.csv('dim_customer.csv', header = True, inferSchema = True)
currency = spark.read.csv('dim_currency.csv', header = True, inferSchema = True)
date = spark.read.csv('dim_date.csv', header = True, inferSchema = True)
product = spark.read.csv('dim_product.csv', header = True, inferSchema = True)

In [51]:
customer.show(1)

+-----------+---------+----------+--------+---------+----------+-------------+------+------+--------------------+------------+-------------+---------------+------------+-------------------+
|CustomerKey|FirstName|MiddleName|LastName|NameStyle| BirthDate|MaritalStatus|Suffix|Gender|        EmailAddress|YearlyIncome|TotalChildren|   AddressLine1|AddressLine2|              Phone|
+-----------+---------+----------+--------+---------+----------+-------------+------+------+--------------------+------------+-------------+---------------+------------+-------------------+
|      11000|      Jon|         V|    Yang|    false|1971-10-06|            M|  NULL|     M|jon24@adventure-w...|     90000.0|            2|3761 N. 14th St|        NULL|1 (11) 500 555-0162|
+-----------+---------+----------+--------+---------+----------+-------------+------+------+--------------------+------------+-------------+---------------+------------+-------------------+
only showing top 1 row

In [52]:
currency.show(1)

+-----------+--------------------+------------+
|CurrencyKey|CurrencyAlternateKey|CurrencyName|
+-----------+--------------------+------------+
|          1|                 AFA|     Afghani|
+-----------+--------------------+------------+
only showing top 1 row

In [53]:
product.show(1)

+----------+-------------------+------------------+------------------+-----+---------+----+------+-----------------+-------+
|ProductKey|ProductAlternateKey|EnglishProductName|SpanishProductName|Color|ListPrice|Size|Weight|DaysToManufacture| Status|
+----------+-------------------+------------------+------------------+-----+---------+----+------+-----------------+-------+
|         1|            AR-5381|   Adjustable Race|              NULL|   NA|     NULL|NULL|  NULL|                0|Current|
+----------+-------------------+------------------+------------------+-----+---------+----+------+-----------------+-------+
only showing top 1 row

In [54]:
date.show(1)

+--------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+
| DateKey|FullDateAlternateKey|DayNumberOfWeek|EnglishDayNameOfWeek|SpanishDayNameOfWeek|DayNumberOfMonth|DayNumberOfYear|WeekNumberOfYear|EnglishMonthName|SpanishMonthName|MonthNumberOfYear|CalendarQuarter|CalendarYear|CalendarSemester|FiscalQuarter|FiscalYear|FiscalSemester|
+--------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+
|20050101|          2005-01-01|              7|            Saturday|              SÃ¡bado|               1|              1|               1|         January|           Enero|                1|              1|        2005|               1|            3|      2005|             2|
+--------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+
only showing top 1 row

In [48]:
fact = fact.withColumnRenamed('OrderDateKey','DateKey')

In [49]:
FactInternetSales = (
fact
.join(customer,on='CustomerKey',how = 'inner')
.join(product,on='ProductKey',how = 'inner')
.join(date,on='DateKey',how = 'inner')
.join(currency,on='CurrencyKey',how = 'inner')
)

In [50]:
from pyspark.sql import functions as fn

In [69]:
Filtered = (
FactInternetSales
.filter(FactInternetSales['color'] == 'Silver')
.filter(FactInternetSales['EnglishDayNameOfWeek'] == 'Sunday')
.filter(FactInternetSales['Size'].isNotNull())
.filter(FactInternetSales['Weight'] > 10)
.filter(FactInternetSales['YearlyIncome']>100000.0)
.filter(FactInternetSales['TotalChildren']>1)
)

In [77]:
Filtered.show(10)

+-----------+--------+----------+-----------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+---------+----------+---------+---------+----------+-------------+------+------+--------------------+------------+-------------+--------------------+------------+-------------------+-------------------+--------------------+--------------------+------+---------+----+------+-----------------+-------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+--------------------+--------------------+
|CurrencyKey| DateKey|ProductKey|CustomerKey|OrderQuantity|UnitPrice|ExtendedAmount|UnitPriceDiscountPct|DiscountAmount|ProductStandardCost|TotalProductCost|SalesAmount|  TaxAmt|Freight|FirstName|MiddleName| LastName|NameStyle| BirthDate|MaritalStatus|Suffix|Gender|        EmailAddress|YearlyIncome|TotalChildren|        AddressLine1|AddressLine2|              Phone|ProductAlternateKey|  EnglishProductName|  SpanishProductName| Color|ListPrice|Size|Weight|DaysToManufacture| Status|FullDateAlternateKey|DayNumberOfWeek|EnglishDayNameOfWeek|SpanishDayNameOfWeek|DayNumberOfMonth|DayNumberOfYear|WeekNumberOfYear|EnglishMonthName|SpanishMonthName|MonthNumberOfYear|CalendarQuarter|CalendarYear|CalendarSemester|FiscalQuarter|FiscalYear|FiscalSemester|CurrencyAlternateKey|        CurrencyName|
+-----------+--------+----------+-----------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+---------+----------+---------+---------+----------+-------------+------+------+--------------------+------------+-------------+--------------------+------------+-------------------+-------------------+--------------------+--------------------+------+---------+----+------+-----------------+-------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+--------------------+--------------------+
|         98|20110227|       344|      11240|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|     Anne|         B|Hernandez|    false|1964-06-09|            M|  NULL|     F|anne4@adventure-w...|    160000.0|            2|    76 Woodcrest Dr.|        NULL|1 (11) 500 555-0119|         BK-M82S-38|Mountain-100 Silv...|MontaÃ±a: 100, pla...|Silver|  3399.99|  38| 20.35|                4|   NULL|          2011-02-27|              1|              Sunday|             Domingo|              27|             58|              10|        February|         Febrero|                2|              1|        2011|               1|            3|      2010|             2|                 GBP|United Kingdom Pound|
|          6|20110717|       347|      11456|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|      Jon|         C|      Gao|    false|1980-01-05|            M|  NULL|     M|jon35@adventure-w...|    120000.0|            5|    6455 Garnet Lane|        NULL|1 (11) 500 555-0136|         BK-M82S-48|Mountain-100 Silv...|MontaÃ±a: 100, pla...|Silver|  3399.99|  48| 21.42|                4|   NULL|          2011-07-17|              1|              Sunday|             Domingo|              17|            198|              30|            July|           Julio|                7|              3|        2011|               2|            1|      2011|             1|                 AUD|   Australian Dollar|
|        100|20111009|       347|      11249|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|    Cindy|         A|    Patel|    false|1966-07-09|            M|  NULL|     F|cindy3@adventure-...|    130000.0|            3|  Essener StraÃe 123|        NULL|1 (11) 500 555-0149|         BK-M82S-48|Mountain-100 Silv...|MontaÃ±a: 100, pla...|Silver|  3399.99|  48| 21.42|                4|   NULL|          2011-10-09|              1|              Sunday|             Domingo|               9|            282|              42|         October|         Octubre|               10|              4|        2011|               2|            2|      2011|             1|                 USD|           US Dollar|
|        100|20111204|       344|      26107|            1|  3399.99|       3399.99|                 0.0|           0.0|          1912.1544|       1912.1544|    3399.99|271.9992|84.9998|   Alexis|      NULL|   Thomas|    false|1965-10-10|            M|  NULL|     F|alexis10@adventur...|    130000.0|            4|   6987 Buchanan Ct.|        NULL|       150-555-0131|         BK-M82S-38|Mountain-100 Silv...|MontaÃ±a: 100, pla...|Silver|  3399.99|  38| 20.35|                4|   NULL|          2011-12-04|              1|              Sunday|             Domingo|               4|            338|              50|        December|       Diciembre|               12|              4|        2011|               2|            2|      2011|             1|                 USD|           US Dollar|
|         98|20121230|       355|      11240|            1|  2319.99|       2319.99|                 0.0|           0.0|          1265.6195|       1265.6195|    2319.99|185.5992|57.9998|     Anne|         B|Hernandez|    false|1964-06-09|            M|  NULL|     F|anne4@adventure-w...|    160000.0|            2|    76 Woodcrest Dr.|        NULL|1 (11) 500 555-0119|         BK-M68S-42|Mountain-200 Silv...|MontaÃ±a: 200, pla...|Silver|  2319.99|  42| 23.77|                4|Current|          2012-12-30|              1|              Sunday|             Domingo|              30|            365|              53|        December|       Diciembre|               12|              4|        2012|               2|            2|      2012|             1|                 GBP|United Kingdom Pound|
|         98|20130120|       355|      11244|            1|  2319.99|       2319.99|                 0.0|           0.0|          1265.6195|       1265.6195|    2319.99|185.5992|57.9998|   Alexis|         M|  Coleman|    false|1968-11-22|            S|  NULL|     F|alexis28@adventur...|    170000.0|            2| 7140 Camelback Road|        NULL|1 (11) 500 555-0115|         BK-M68S-42|Mountain-200 Silv...|MontaÃ±a: 200, pla...|Silver|  2319.99|  42| 23.77|                4|Current|          2013-01-20|              1|              Sunday|             Domingo|              20|             20|               4|         January|           Enero|                1|              1|        2013|               1|            3|      2012|             2|                 GBP|United Kingdom Pound|
|         98|20130210|       355|      12123|            1|  2319.99|       2319.99|                 0.0|           0.0|          1265.6195|       1265.6195|    2319.99|185.5992|57.9998|   Wesley|         A|    Liang|    false|1963-12-12|            M|  NULL|     M|wesley16@adventur...|    170000.0|            2|6048 Nightingale ...|        NULL|1 (11) 500 555-0143|         BK-M68S-42|Mountain-200 Silv...|MontaÃ±a: 200, pla...|Silver|  2319.99|  42| 23.77|                4|Current|          2013-02-10|              1|              Sunday|             Domingo|              10|             41|               7|        February|         Febrero|                2|              1|        2013|               1|            3|      2012|             2|                 GBP|United Kingdom Pound|
|        100|20130310|       357|      12188|            1|  2319.99|       2319.99|                 0.0|           0.0|          1265.6195|       1265.6195|    2319.99|185.5992|57.9998|   Ashley|         J|   Thomas|    false|1965-11-20|            S|  NULL|     F|ashley11@adventur...|    110000.0|            3|    5071 Almaden Dr.|        NULL|       190-555-0190|         BK-M68S-46|Mountain-200 Silv...|MontaÃ±a: 200, pla...|Silver|  2319.99|  46| 24.13|                4|Current|          2013-03-10|              1|              Sunday|             Domingo|              10|             69|              11|           March|           Marzo|                3|              1|        2013|               1|            3|      2012|             2|                 USD|           US Dollar|
|         98|20130317|       353|      12133|            1|  2319.99|       2319.99|                 0.0|           0.0|          1265.6195|       1265.6195|    2319.99|185.5992|57.9998|  Colleen|         C|      Xie|    false|1961-06-24|            M|  NULL|     F|colleen27@adventu...|    130000.0|            3|       8976 E Leland|        NULL|1 (11) 500 555-0175|         BK-M68S-38|Mountain-200 Silv...|MontaÃ±a: 200, pla...|Silver|  2319.99|  38| 23.35|                4|Current|          2013-03-17|              1|              Sunday|             Domingo|              17|             76|              12|           March|           Marzo|                3|              1|        2013|               1|            3|      2012|             2|                 GBP|United Kingdom Pound|
|         19|20130317|       357|      12710|            1|  2319.99|       2319.99|                 0.0|           0.0|          1265.6195|       1265.6195|    2319.99|185.5992|57.9998|   Dalton|         E|    Evans|    false|1946-12-17|            S|  NULL|     M|dalton43@adventur...|    170000.0|            2|        3601 Stinson|          #7|       251-555-0135|         BK-M68S-46|Mountain-200 Silv...|MontaÃ±a: 200, pla...|Silver|  2319.99|  46| 24.13|                4|Current|          2013-03-17|              1|              Sunday|             Domingo|              17|             76|              12|           March|           Marzo|                3|              1|        2013|               1|            3|      2012|             2|                 CAD|     Canadian Dollar|
+-----------+--------+----------+-----------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+---------+----------+---------+---------+----------+-------------+------+------+--------------------+------------+-------------+--------------------+------------+-------------------+-------------------+--------------------+--------------------+------+---------+----+------+-----------------+-------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+--------------------+--------------------+
only showing top 10 rows

In [85]:
Aggregations = (
Filtered
.groupBy('CustomerKey','FirstName')
.agg(fn.sum('TaxAmt'),fn.mean('SalesAmount'),fn.mean('TotalProductCost'))
.withColumnRenamed('sum(TaxAmt)','TotalTaxAmt')
.withColumnRenamed('avg(SalesAmount)','AverageSalesAmount')
.withColumnRenamed('avg(TotalProductCost)','AverageTotalProductCost')
)

In [86]:
Aggregations.show(10)

+-----------+---------+-----------+------------------+-----------------------+
|CustomerKey|FirstName|TotalTaxAmt|AverageSalesAmount|AverageTotalProductCost|
+-----------+---------+-----------+------------------+-----------------------+
|      12637|  Leonard|   185.5992|           2319.99|              1265.6195|
|      18953|      Mya|    61.5592|            769.49|               419.7784|
|      15194|     Erik|   185.5992|           2319.99|              1265.6195|
|      12364|     Erin|   185.5992|           2319.99|              1265.6195|
|      15100|   Brenda|   185.5992|           2319.99|              1265.6195|
|      13658|    Wyatt|   185.5992|           2319.99|              1265.6195|
|      13278|    Jorge|   185.5992|           2319.99|              1265.6195|
|      19057|   Joanna|   185.5992|           2319.99|              1265.6195|
|      11249|    Cindy|   271.9992|           3399.99|              1912.1544|
|      13263|     Kate|   185.5992|           2319.99|              1265.6195|
+-----------+---------+-----------+------------------+-----------------------+
only showing top 10 rows

In [87]:
Sorted = (
    Aggregations
    .orderBy(fn.col('FirstName'))
)

In [88]:
Sorted.show(10)

+-----------+---------+------------------+------------------+-----------------------+
|CustomerKey|FirstName|       TotalTaxAmt|AverageSalesAmount|AverageTotalProductCost|
+-----------+---------+------------------+------------------+-----------------------+
|      13581|   Albert|          185.5992|           2319.99|              1265.6195|
|      26107|   Alexis|          271.9992|           3399.99|              1912.1544|
|      11244|   Alexis|          185.5992|           2319.99|              1265.6195|
|      16623|   Andres|          185.5992|           2319.99|              1265.6195|
|      18131|      Ann|          185.5992|           2319.99|              1265.6195|
|      11240|     Anne|457.59839999999997|           2859.99|             1588.88695|
|      12188|   Ashley|          185.5992|           2319.99|              1265.6195|
|      17536| Benjamin|          185.5992|           2319.99|              1265.6195|
|      15100|   Brenda|          185.5992|           2319.99|              1265.6195|
|      11249|    Cindy|          271.9992|           3399.99|              1912.1544|
+-----------+---------+------------------+------------------+-----------------------+
only showing top 10 rows

In [89]:
FinalOutput = (
    Sorted.drop(fn.col('CustomerKey'))
)

In [90]:
FinalOutput.show(10)

+---------+------------------+------------------+-----------------------+
|FirstName|       TotalTaxAmt|AverageSalesAmount|AverageTotalProductCost|
+---------+------------------+------------------+-----------------------+
|   Albert|          185.5992|           2319.99|              1265.6195|
|   Alexis|          271.9992|           3399.99|              1912.1544|
|   Alexis|          185.5992|           2319.99|              1265.6195|
|   Andres|          185.5992|           2319.99|              1265.6195|
|      Ann|          185.5992|           2319.99|              1265.6195|
|     Anne|457.59839999999997|           2859.99|             1588.88695|
|   Ashley|          185.5992|           2319.99|              1265.6195|
| Benjamin|          185.5992|           2319.99|              1265.6195|
|   Brenda|          185.5992|           2319.99|              1265.6195|
|    Cindy|          271.9992|           3399.99|              1912.1544|
+---------+------------------+------------------+-----------------------+
only showing top 10 rows